﻿@page
@model OnlineLearning.Pages.Auth.RegisterModel
@{
    var Account = Model.Account;
    var Profile = Model.Profile;
}
            <div >               
                <div style="text-align: center">
                    <h1>Welcome back !!</h1>
                    <p>Please fill in the information below!</p>
                </div>
                <div>
                    <p style="color: red;">@ViewData["error"]</p>
                    <form method="post">
                        <div class="regi">
                        <div style="width: 50%; text-align: right">
                            <div class="ah">
                            <a>Full Name</a>
                            </div>
                            <div class="ah">
                            <a>Phone</a>
                            </div>
                            <div class="ah">
                            <a>Address</a>
                            </div>
                            <div class="ah">
                            <a>Email</a>
                            </div>
                            <div class="ah">
                            <a>Password</a>
                            </div>
                        </div>
                    <div style="width: 50%; text-align: left">
                        <div class="ha">
                        <input type="text" asp-for="@Profile.Name" placeholder="enter company ..." required>
                        <span asp-validation-for="@Profile.Name"></span>
                        </div>
                        <div class="ha">
                        <input type="text" asp-for="@Profile.Phone" placeholder="enter company ..." required>
                        <span asp-validation-for="@Profile.Phone"></span>
                        </div>
                        <div class="ha">
                        <input type="text" asp-for="@Profile.Address" placeholder="enter company ..." required>
                        <span asp-validation-for="@Profile.Address"></span>
                        </div>

                        <div class="ha">
                        <input type="text" asp-for="@Account.Email" placeholder="enter email ..." required>
                        <span asp-validation-for="@Account.Email"></span>

                        </div >
                        <div class="ha">
                        <input type="password" asp-for="@Account.Password" placeholder="enter password ..." required>
                        <span asp-validation-for="@Account.Password"></span>

                        </div>
                        </div>
                        </div>
            <div style="text-align:center; padding-top: 20px">
                <Button>Register</Button>
            </div>
        </form>
    </div>
</div>