﻿@page
@model OnlineLearning.Pages.SubjectPage.ListSubjectModel
@{
}

<table>
    <tr>
        <th>ID</th>
        <th>Subject Name</th>
        <th>Profile</th>
        <th>Status</th>
        <th>Subject Code</th>
        <th></th>
    </tr>

    @foreach (var item in Model.listSubject)
    {
        <tr>
            <td>@item.SubjectId</td>
            <td>@item.Name</td>
            <td>@item.ProfileId</td>
            <td>@item.Status</td>
            <td>@item.Code</td>
            <td>
                <a asp-page="Edit" asp-route-id="@item.SubjectId">Edit</a>
            </td>
            <td>
                <a asp-page="List" asp-page-handler="Delete" asp-route-id="@item.SubjectId">Delete</a>
            </td>
        </tr>
    }
</table>

<a class="btn btn-primary" href="AddSubject">Add</a>
<div class="nav-item" style="text-align: center">
    <a style="color: blue" class="nav-link text-dark" href="/Auth/ResetPassword">Change Password</a>
</div>